[core]
    excludesfile = ~/.gitignore_global
	editor = cursor --wait
    pager = delta

[user]
    name = carljohan
    email = carljohan@hey.com
	signingkey = 0C280EB70B22BBBD6A8DABFFCD6EECDB6CA64E5F

[github]
    user = carljohan

[gpg]
    program = /opt/homebrew/bin/gpg

[commit]
    gpsign = true
    gpgsign = true

[alias]
    undo = reset --soft HEAD~

[push]
    autoSetupRemote = true
    default = current

[color]
    ui = auto

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold

[color "status"]
    added = yellow
    changed = green
    untracked = cyan

[color "diff-highlight"]
    oldNormal = "red bold"
    oldHighlight = "red bold 52"
    newNormal = "green bold"
    newHighlight = "green bold 22"
[http]
    sslCAInfo = /opt/homebrew/opt/ca-certificates/share/ca-certificates/cacert.pem
